/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    @apply bg-gray-200;
}

.btn {
    @apply border rounded p-2 bg-gray-700 text-white w-52 font-medium
}

.btn:disabled {
    @apply bg-gray-500 cursor-not-allowed;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
